<h1>Editing Caracteristicatelefono</h1>

<%= render 'form', caracteristicatelefono: @caracteristicatelefono %>

<%= link_to 'Show', @caracteristicatelefono %> |
<%= link_to 'Back', caracteristicatelefonos_path %>
